recursive-include PyBoltz_P/ *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz_P/Monte *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz_P/C *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz_P/Townsend *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz_P/Townsend/Monte *.pxd *.pyx *.py *.c *.h
