recursive-include PyBoltz/ *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz/Monte *.pxd *.pyx *.py *.c *.h  
recursive-include PyBoltz/C *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz/Townsend *.pxd *.pyx *.py *.c *.h
recursive-include PyBoltz/Townsend/Monte *.pxd *.pyx *.py *.c *.h

